/* Base styles */
* {
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;
    height: 10%;
    background-color: rgb(61, 98, 61);
    display: flex;
}
main {
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    color: rgb(61, 98, 61);
}
input{
    width: 100%;
}
.Info a {
    color: rgb(61, 98, 61);
}
.Text3 .Head,
.Text4 .Head,
.Text5 .Head,
.Text6 .Head {
    text-align: center;
}
.heading {
    text-align: center;
}
.Text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Main .image {
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;
    padding-left: 0px;
    width: 100%;
    object-fit: contain;
}
.Text2 {
    margin: 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
footer {
    width: 100%;
    height: 12%;
    background-color: rgb(61, 98, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footerbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
h1 {
    color: white;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.Submit{
    text-align: center;
}
.Submit input{
    width: fit-content;
    color:white;
background-color:rgb(61, 98, 61) ;
border-radius: 10px;
}
.lg a{
    background-color: rgb(61, 98, 61);
    border-radius: 10px;
    padding: 5px;
}
.su a{
    background-color: rgb(61, 98, 61);
    border-radius: 10px;
    padding: 5px;
}
.logo {
    position: relative;
    left: 5%;
}
.navMenu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    right: 5%;
}
.signUp, .login, .About, .Contact {
    color: white;
    margin-left: 15px;
}
a {
    text-decoration: none;
    color: white;
}
.Home:hover a,
.signUp:hover a,
.login:hover a,
.About:hover a,
.Contact:hover a {
    cursor: pointer;
    padding: 3px;
    background-color: white;
    color: rgb(71, 97, 71);
    border-radius: 10px;
}
.copyrights {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navMenu {
        flex-direction: column;
        align-items: flex-start;
        right: 0;
    }
    .Main .image {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navMenu {
        flex-direction: column;
        align-items: flex-start;
        right: 0;
    }
    .Text {
        flex-direction: column;
    }
    .Main .image {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navMenu {
        flex-direction: column;
        align-items: flex-start;
        right: 0;
    }
    .Text {
        flex-direction: column;
    }
    .Main .image {
        max-width: 100%;
    }
    .footerbar {
        flex-direction: column;
    }
}
.sideBar{
    width: 20%;
    height: calc(100vh - 22%);
    background-color: rgb(61, 98, 61);
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3%;
}
.sideBar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu{
    flex-grow: 1;
}
.bottom-menu{
    margin-top:auto;
}
.sideBar ul li{
    margin: 20px 0;
}
.sideBar .bottom-menu a{
    color: white;
}
.sideBar ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

.sideBar ul li a:hover{
    background-color: rgb(88, 136, 88);
    border-radius: 10px;
}
#postForm{
    display: flex;
    position: absolute;
    bottom: 15%;
}
#messageInput{
    border:2px solid rgb(88, 136, 88);
    border-radius: 10px;
    text-align: center;
    background-color: rgb(188, 205, 188);
}
#messageInput::placeholder{
    color: rgb(88, 136, 88);
}
button{
    background-color: rgb(188, 205, 188);;
    border-radius: 10px;
    border:2px solid rgb(88, 136, 88);
    margin-left: 10px;
    color:rgb(88, 136, 88);
}
#imageIcon{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    
}
#messagesContainer {
    max-height: 475px; /* Adjust the height as needed */
    width: 100vh;
    overflow-y: auto;
}

.post-image {
    width: 100px;
    cursor: pointer;
}

.post-image.thumbnail {
    width: auto;
    height: auto;
}

